<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LongBar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LongBar.Properties.Settings>
            <setting name="Side" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Slate</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableGlass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Locked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlapTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value>Primary</value>
            </setting>
        </LongBar.Properties.Settings>
    </userSettings>
</configuration>